* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Annie Use Your Telescope';
}

h1 {
    font-size: 3.5em;
    text-align: center;
}
.result {
    /* font-size: 4em; */
font-weight: 400;
color: rgb(80, 80, 230);
align-items: center;
padding:0;
margin:0 auto;

}
.result-score {
    display:flex;
    justify-content: space-between;
}

#score {
    background-color: antiquewhite;
    font-size: 1.2em;
    padding: 4px;
    width:145px;
    height:150px;
    margin: 0px;
}

#playing-decks {
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px; */
    /* margin:10px; */
    align-items: center;

}

 #playing-decks > img {
    width:30%;
    height:120%;
    border-radius: 50px;

} 

.deck img{
    height: 250px; 
     width: 175px;   
    margin:10px; 
    /* position:fixed; */

} 

.bet-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 10px; */
    margin:0px;
    font-size: 1.5em;
    align-items: center;
}

.bet-option {
    color: #0099CC;
     background: white; 
     border: 2px solid #0099CC;
     border-radius: 6px; 
      padding: 16px 40px;      
      text-align: center;      
      /* display: inline-block; */
      font-size: 16px;      
      margin: 2px 2px;     
       transition-duration: 0.5s;      
      cursor: pointer;      
      text-decoration: none;   
        font-weight: 600;

}

.bet-option:hover {
background-color: #008CBA;
color: white;
}
.play:hover, #start-button:hover {
background-color:white;
color:  #008CBA
}

#play-forfeit-war button , #start-button {
    color: #f8fafa;
    background: #0099CC; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    padding: 16px 100px;      
    text-align: center;
    justify-content: center;      
    display: block;
    font-size: 16px;      
    margin: 5px 2px;     
    transition-duration: 0.4s;      
    cursor: pointer;      
    width: 100%;
   font-size: 1.5em;
   text-transform: uppercase;
   letter-spacing: .5rem;
   font-weight: 600;
}
#start-button {
    width: 60%;
    margin: 20px auto;
    

}
/* #play-forfeit-war:not(:first-child) {
    color: #f8fafa;
    background: #0099CC; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    padding: 16px 100px;      
    text-align: center;
    justify-content: center;      
    display: block;
    font-size: 16px;      
    margin: 5px 2px;     
    transition-duration: 0.4s;      
    cursor: pointer;      
 width: 50%; 
   font-size: 1.5em;
   text-transform: uppercase;
   letter-spacing: .5rem;
   font-weight: 600;
}  */


#game-intro {
display: display;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-image: url('/img/background.png');
  background-size:cover;
  justify-content: center;
  flex-direction: column;

}

#game-container {
/* width: 100vw; */
  padding: 5px;
  justify-content: center;
  background-image: url('/img/background2.png');
/* background-repeat: repeat-x; */
  background-size: contain; 
}
/* // new stuff  */
/* #game-screen {
  display: none;
  align-content: center;
  padding: 20px;
  overflow: hidden; 
  position: relative;
} */



/* 
body button {
  font-size: 30px;
  background-color: #679983;
  color: #fff;
  padding: 20px 40px;
  border: 0;
box-shadow: 0; 
  border-radius: 5px;
  margin-bottom: 20px;
} 
*/